.footer{
    position: relative;
    bottom: 0px;
  }
  #switch{
    position: absolute;
    right: 0px;
  }

  .navigationBar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-right: 50px;
  }

  .navigationBar a:hover {
    background-color: #ddd;
    color: black;
  }

#para1{
  display: flex;
  justify-content: flex-start;
}
#para2{
  display: flex;
  justify-content: flex-end;
}
#img1{
    height: 200px;
    float:right;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;

}
#img2{
    height: 200px;
    float: left;
    margin-bottom: 30px;
} 
#video{
  display: flex;
  justify-content: center;
  place-items: centre;
}
.navigationBar ul{
    list-style-type: none;
    background-color: black;
    padding: 0px;
    margin: 0%;
    overflow: hidden;
}
.navigationBar li{
    float: left;
}  
.mar{
    margin-bottom: 100px;
}
form{
  padding: 5px;
}
/* @media screen and (max-width=600px){.any class name{properties to be used}} */
@media(max-width:550px){
  div{
    color: coral;
    font-weight: 900;
    font-family: cursive;
  }
}
